.about_us_section{
    width: 100%;
    height: 978px;
    position: relative;
    background-color: #fff;
    box-shadow: #dddddd 0 -12px 16px;
    .container{
        position: relative;
    }
    .com_avator{
        width: auto;
        left: calc(-35px - 68px);
        bottom: 0;
        margin: auto;
        height: auto;
        right: auto;
    }
    img{
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        object-fit: cover;
    }
    
    p{
        font-size: 16px;
        line-height: 33px;
        width: 90%;
        margin-top: 20px;
    }
    .col-lg-6{
        padding-left: 34px;
        padding-right: 0;
    }
    .custom_button{
        margin-top: 45px;
    }
}

@media only screen and (max-width:2200px){
    .about_us_section{
        .com_avator{
            left: calc(-35px - 30px);
        }
    }
}
@media only screen and (max-width:1600px){
    .about_us_section{
        img{
            width: 47%;
        }
        p{
            width: 100%;
        }
       
        .com_avator{
            width: 55px;
            left: calc(-35px - 6px);
        }
    }
}

@media only screen and (max-width:1399px){
    .about_us_section{
        .col-lg-6{
            padding-left: 53px;
        }
        .com_avator{
           
            left: calc(-35px + 22px);
        }
    }
}

@media only screen and (max-width:1365px){
    .about_us_section{
        height: 700px;
        img{
            width: 47%;
        }
        p{
            width: 100%;
            font-size: 14px;
            line-height: 24px;
        }
       
       
    }
}

@media only screen and (max-width:780px){
    .about_us_section{
        height: auto;
        display: block !important;
        .com_avator{
            position: absolute;
            width: 40px;
            left: 29px;
        }
        img{
            width: 100%;
            position: relative;
        }
        p{
            width: 100%;
            font-size: 14px;
            line-height: 24px;
        }
        
        .col-lg-6{
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 100px;
            padding-right: 50px;
        }
       
    }
}


@media only screen and (max-width:400px){
    .about_us_section{
        .com_avator{
            width: 20px;
            left: 10px;
        }
        .col-lg-6{
            padding-left: 42px;
            padding-right: 0;
            padding-top: 26px;
            padding-bottom: 26px;
            
        }
        
        p{
            width: 90%;
            font-size: 12px;
            line-height: 16px;
            margin-top: 10px;
        }
        .custom_button {
            margin-top: 20px;
            a{
                font-size: 14px;
                height: 48px;
            }
        }
       
    }
}