footer{
    width: 100%;
    .top{
        width: 100%;
        background-color: var(--dark-color);
        .portion{
            width: 100%;
            .logo{
                margin-bottom: 33px;
                display: block;
                img{
                    display: block;
                }
            }
            p{
                font-size: 16px;
                color: #9fa0b0;
                line-height: 33px;
            }
            h2{
                color: var(--white-color);
                font-size: 30px;
                text-transform: capitalize;
                margin-bottom: 33px;
            }
            ul.ft_menu{
                width: 100%;
                li{
                    margin-bottom: 18px;
                    a{
                        font-size: 16px;
                        color: #9fa0b0; 
                        text-transform: capitalize; 
                    }
                }
            }
            .social{
                margin-top: 30px;
                li{
                    margin-right: 12px;
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        width: 49px;
                        height: 49px;
                        background-color: var(--primary-color);
                        color: var(--white-color);
                        font-size: 16px;
                        border-radius: 100%;
                    }
                }
            }
        }
        .big_menu_area{
            width: 100%;
            margin-bottom: 12px;
        }
    }
    .copy_right{
        width: 100%;
        background-color: var(--dark-color2);
        padding: 30px 0;
        p{
            font-size: 16px;
            color: #9fa0b0;
            a{
                color: #9fa0b0;
                transition: all .5s ease-in-out;
                &:hover{
                    color: var(--white-color);
                }
            }
        }
        ul.ft_menu{
            li{
                margin-bottom: 0;
                margin-right: 20px;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    font-size: 16px;
                    color: #9fa0b0; 
                    text-transform: capitalize; 
                    transition: all .5s ease-in-out;
                    &:hover{
                        color: var(--white-color);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:500px){
    footer{
        .top{
            text-align: center;
            .portion{
                margin-bottom: 60px;
                .logo{
                    img{
                        margin: 0 auto;
                    }
                }
                h2{
                    font-size: 24px;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 14px;
                    line-height: 24px;
                }
                ul.ft_menu{
                    li{
                        a{
                            font-size: 14px;
                        }
                    }
                }
                .social{
                    justify-content: center;
                }
            }
            .big_menu_area{
                margin-bottom: 0;
            }
        }
        .copy_right{
            .container{
                flex-direction: column;
                text-align: center;
            }
            p{
                font-size: 14px;
                margin-bottom: 15px;
            }
            ul.ft_menu{
                justify-content: center;
                li{
                    margin-right: 10px;
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}